body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#gradient-start {
  stop-color: darkblue;
  stop-opacity: 1;
}

#gradient-end {
  stop-color: cyan;
  stop-opacity: 1;
}
svg {
  fill: url(#gradient);
}
#title {
  fill: black;
  font-size: 3.8rem;
}
.label {
  text-anchor: middle;
  font-size: 2rem;
  fill: black;
}
